.about__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about__list {
    display: flex;
    margin-right: -30px;
}
.about__item {
   flex-basis: calc(100% / 3 - 30px);
   margin-right: 30px;
}

.about {
    padding-top: 0;
}

.img-box {
    position: relative;
}

.img-box__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color:var(--akcent-text-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}
