.features__list {
    display: flex;
    margin-right: -30px;
}

.features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.features-box {
     display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--third-backgraund-color);
    margin-bottom: 30px;  
}

.features-box__icon {
    width: 70px;
    height: 70px;
}
