.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px  solid var(--border-color);
}

.main-header {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
     }
     @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
     }

}

.site-nav {
    @media screen and (max-width: 768px) {
            display: none;
    }

}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        color: var(--akcent-color);
    }
}

.site-nav__list {
    display: flex;
    margin-left: 88px;
     @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 93px;
     }
    
    
}

.contacts {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;   
    } 
}

.site-nav__item {
    &:not(:last-child){
        margin-right: 30px;
    }
}

.contacts__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-bottom: 0;
        margin-right: 50px;
        } 
    }
}


.site-nav {
    .current {
        color: var(--akcent-color);
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--akcent-color);
            border-radius: 2px;
            bottom: -1px;
            display: block;
        }
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
    width: 10px;
    height: 16px;
}

.contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        color: var(--akcent-color);
    }
    @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;}
}

