.buttons-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.buttons-list__item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.filter-btn {
    display: inline-block;
    padding: 6px 22px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    color: var(--primary-text-color);
    background-color: var(--third-backgraund-color);
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 0;
        cursor: pointer;
        font-family: inherit;
        font-style: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: var(--akcent-text-color);
        background-color: var(--akcent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.first-btn {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--akcent-text-color);
    background-color: var(--akcent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.card-wrapeer__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-wrapeer__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.87;
    color:var(--secondary-text-color);
}

.filter-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.filter-list__item {
    flex-basis:  calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-wrapeer {
    border: 1px solid var(--secondary-border-color);
    border-top: none;
    padding: 20px 24px;
}

.filter-list__card-link {
    display: block;
    width: 100%;
    height: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:visited {
        color: inherit;
    }
}

.text-wrapper {
    position: relative;
    overflow: hidden;
}

.text-wrapper__top-text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--akcent-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 63px 24px;
    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .filter-list__card-link:hover &,
    .filter-list__card-link:focus & {
        transform: translateY(0);
    }  
}