.team {
    background-color: var(--third-backgraund-color);
}

.team__list {
    display: flex;
    margin-right: -30px;
}

.team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.team__foto {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-box__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-box__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:var(--secondary-text-color);
}

.team-box {
    padding: 30px 32px;
    background-color: var(--akcent-text-color);
    border-top: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
