.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    color:var(--akcent-color);
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.header__logo {
    display: block;
    padding: 26px 0px;
    @media screen and (min-width: 1200px) {
         padding-top: 24px;
        padding-bottom: 25px;
    }
   
}

.header__logo_black {
    color: var(--secondary-akcent-text-color);
}

.box-left__footer-logo_white {
    color: var(--akcent-text-color);;
}