:root {
    --primary-text-color: #212121;
    --secondary-text-color:  #757575;
    --akcent-color: #2196F3;
    --primary-backgraund-color:#FFFFFF;
    --secondary-backgraund-color:#2F303A;
    --akcent-text-color: #FFFFFF;
    --social-icon-color: #AFB1B8;
    --secondary-akcent-text-color: #000000;
    --third-backgraund-color:#F5F4FA;
    --border-color: #ECECEC;
    --secondary-border-color:#EEEEEE;


}